div{
    background-color: black;
    cursor: pointer;
}
body{
    width: 100%;
    margin: 0%;
}
span:active{
    color: rgb(250,50,70);
}
span img{
    width: 80px;
    height: 70px;
}
div>div {
    color: white;
    padding: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 30px;
}
select{
    background-color: black;
    color: aliceblue;
    width: 1.5%;
    text-align: center;  
}

#container{
    width: 100vw;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content:space-around:;
    flex-wrap: wrap;
    @media (min-width:300px)and(max-width:700px)
}
.item{
    padding: 16px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}
nav img {
    width: 600px;
    transform: translateX(35%);
    border-radius: 0%;
    animation: move;
    animation-duration: 8s;
    opacity: 0.5;
    
    animation-iteration-count: infinite;
}
@keyframes move {
    0% {
        transform: translateX(150%);
    }
    50% {
        opacity: 1;
        
    }
    100% {
        transform: translateX(-50%);
    }
}
.item:hover {
    transform: scale(1.2);
    
}
body>div:first-child {
    width: 800px;
}
